@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar track (optional) */
::-webkit-scrollbar-track {
    background-color: rgb(0, 0, 0); /* or any color you prefer */
}

/* scrollbar itself */
::-webkit-scrollbar {
    width: 3px; /* width of the scrollbar */
    height: 5px;
   
}

/* scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background-color: #e05e18; /* color of the scrollbar thumb */
    border-radius: 5px; /* roundness of the thumb */
}

/* scrollbar corner (between vertical and horizontal scrollbars) */
::-webkit-scrollbar-corner {
    background-color: transparent; /* color of the corner */
}

